<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>新建员工信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap-table.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-table.js"></script>
    <script src="/js/bootstrap-table-zh-CN.js"></script>
    <script src="/js/grade.js"></script>
    <link rel="stylesheet" href="/css/hospital.css">

    <style>
        span {
            float: right;
        }
    </style>
</head>
<body>
<!--<div th:replace="navigation :: nav"></div>-->
<div class="container-fluid main">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div style="padding-top: 20px">
                <a href="javascript:history.back(-1)"><span class="glyphicon glyphicon-arrow-left"></span>返回员工信息列表</a>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-lg-offset-2">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">员工姓名</div>
                    <input type="text" class="form-control" id="rName">
                </div>
                <span id="yg"></span>
            </div>
        </div>
        <div class="col-xs-3 col-lg-offset-1">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">部门</div>
                    <select class="form-control" id="department">
                        <option value="">-请选择-</option>
                    </select>
                </div>
                <span id="bm"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-lg-offset-2">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">年龄</div>
                    <input type="text" class="form-control" id="age">
                </div>
                <span id="nl"></span>
            </div>
        </div>
        <div class="col-xs-3 col-lg-offset-1">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">性别</div>
                    <select class="form-control" id="sex">
                        <option value="">-请选择-</option>
                        <option value="0">男</option>
                        <option value="1">女</option>
                    </select>
                </div>
                <span id="xb"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3 col-lg-offset-2">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">入职时间</div>
                    <input type="date" class="form-control" id="start_time">
                </div>
                <span id="rTime"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-7 col-lg-offset-5">
            <button class="btn btn-info" style="width: 100px" onclick="save()" id="save">保存</button>
        </div>
    </div>
</div>

</body>
<script>
    $(function () {
        getDep();
    })
    //部门赋值
    function getDep(){
        $.ajax({
            url: "getDep",
            dataType: "json",
            data: {},
            success: function (data) {
                if(data!=null){
                    let department=$("#department");
                    for(let i=0; i<data.length; i++){
                        let varOption = $("<option value=" + data[i].depart_num + ">" + data[i].depart_name + "</option>")
                        department.append(varOption);
                    }
                }
            }
        })
    }

    function save(){
       let rName=$("#rName").val();
       let department=$("#department").val();
       let age=$("#age").val();
       let sex=$("#sex").val();
       let start_time=$("#start_time").val();
       if(rName==""||rName==null||department==""||department==null||age==""||age==null
          ||sex==""||sex==null||start_time==""||start_time==null){
           alert("请填写完整资料");
           return false;
       }
        $.ajax({
            url: "insertOne",
            dataType: "json",
            data: {
                "name": rName,
                "dep": department,
                "age": age,
                "sex": sex,
                "entryTime": start_time,
            },
            success: function (data) {
                location.href="/boot";
            }
        })
    }
    //负责人校验
    $("#rName").blur(function () {
        let rName = $("#rName").val();
        $("#yg").empty();
        if (rName == '' || rName == null) //判断用户名不为空
        {
            $("#yg").append("<span style='color:red;'>♠不能为空</span>");
            return false;
        } else {
            $("#yg").append("<span style='color:green; font-size:28px;'>☺</span>");
            return true;
        }
    })
    //部门校验
    $("#department").blur(function () {
        let department = $("#department").val();
        $("#bm").empty();
        if (department == '' || department == null) //判断用户名不为空
        {
            $("#bm").append("<span style='color:red;'>♠不能为空</span>");
            return false;
        } else {
            $("#bm").append("<span style='color:green; font-size:28px;'>☺</span>");
            return true;
        }
    })
    //年龄校验
    $("#age").blur(function () {
        let age = $("#age").val();
        $("#nl").empty();
        if (age == '' || age == null) //判断用户名不为空
        {
            $("#nl").append("<span style='color:red;'>♠不能为空</span>");
            return false;
        } else {
            $("#nl").append("<span style='color:green; font-size:28px;'>☺</span>");
            return true;
        }
    })
    //性别校验
    $("#sex").blur(function () {
        let sex = $("#sex").val();
        $("#xb").empty();
        if (sex == '' || sex == null) //判断用户名不为空
        {
            $("#xb").append("<span style='color:red;'>♠不能为空</span>");
            return false;
        } else {
            $("#xb").append("<span style='color:green; font-size:28px;'>☺</span>");
            return true;
        }
    })
    //入职时间校验
    $("#start_time").blur(function () {
        let start_time = $("#start_time").val();
        $("#rTime").empty();
        if (start_time == '' || start_time == null) //判断用户名不为空
        {
            $("#rTime").append("<span style='color:red;'>♠不能为空</span>");
            return false;
        } else {
            $("#rTime").append("<span style='color:green; font-size:28px;'>☺</span>");
            return true;
        }
    })

</script>

</html>